<div class="container">
  <h1>RUBY RACER</h1>
  <p>Enter your names</p>

   <table>
    <form action='/games' method='post'>
      Player 1: <input type='text' name='player1'><br><br>
      Player 2: <input type='text' name='player2'><br><br>
      <p>Gentlemen start your engines!</p>
    <input type='submit' value='Start new game'>
  </form>
   </table>


</div>